<br/>
<br/>
<h2>Confirm deletion of order</h2>
<br/>
ID:
<%=  orderLine._id %>
  <br>Order ID
<%=orderLine.orderID%>
<br> lineNumber:
<%=orderLine.lineNumber%>
  <br> productKey
  <%=orderLine.productKey%>
    <br>quantity
    <%=orderLine.quantity%>
    <br>
            <br/>
            <br/>

            <form method="get" action="/orderline">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/orderline/delete/<%= orderLineItems._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>