<br />
<br />
<br><br><br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="orderline/create" class="btn btn-primary new">
        Create a new orderLineItems
      </a>
      <h2>Recent orderLineItems entries</h2>
      <p>There are
        <%= orderLineItems.query.length %> orderLineItems.
      </p>
      <% for (var i = orderLineItems.query.length-1; i >= 0; i--) {   
        orderLine = orderLineItems.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  orderLine._id %>
              <br>Order ID
            <%=orderLine.orderID%>
            <br> lineNumber:
            <%=orderLine.lineNumber%>
              <br> productKey
              <%=orderLine.productKey%>
                <br>quantity
                <%=orderLine.quantity%>
                <br>
                    <br>
                      <br/>
                      <br/>
                      <a href="/orderline/delete/<%= orderLine._id  %>" class="btn btn-danger"> Delete </a>
                      <a href="/orderline/details/<%= orderLine._id %>" class="btn btn-info"> Details </a>
                      <a href="/orderline/edit/<%= orderLine._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
    
              <% } %>
    </div>
  </div>
</div>