<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="OrderID">OrderID</label>
      <input type="number" class="form-control" id="OrderID" name="OrderID" value="<%= orderLineItems.OrderID %>" required>
    </div>
    <div class="form-group">
      <label for="lineNumber">Line Number</label>
      <input type="text" class="form-control" id="lineNumber" name="lineNumber" value="<%= orderLineItems.lineNumber %>">
    </div>
    <div class="form-group">
      <label for="productKey">Product Key</label>
      <input type="text" class="form-control" id="productKey" name="productKey" value="<%= orderLineItems.productKey %>">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" name="quantity" value="<%= orderLineItems.quantity %>">
    </div>
    
  </div>
</div>
<hr>
<br />
<h4>
  orderLineItems Cost =
  <span id="puppyCost"></span>
</h4>
<hr>
<br />
<br />

<!-- PUT CLIENT SIDE CODE HERE -->
<script>

  // function toCurrency(amount) 

  // https://gist.github.com/kylefox/780065
  function toCurrency(amount) {
    return "$" + amount.toFixed(2);
  };

  // function toCurrencyInt(amount) 
  function toCurrencyInt(amount) {
    return "$" + amount.toFixed(0);
  };

  // Add  .toCurrency() method to all Numbers
  Number.prototype.toCurrency = function () {
    return toCurrency(this);
  };

  // Add  .toCurrencyInt() method to all Numbers
  Number.prototype.toCurrencyInt = function () {
    return toCurrencyInt(this);
  };

  function onAgeChange() {
    const newAge = parseFloat($("input[name=age]").val());
    let price = 75
    if (newAge == 1) {
      price = 100
    }
    $("#puppyCost").html(price.toCurrencyInt());
  }

  // window.onload = a function that will call all update functions to display calculated values
  window.onload = function () {
    onAgeChange();
  }

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>